version: "3.8"
services:
  db:
    image: postgres:16
    container_name: ai_data_generator_db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: ai_data
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
      build: .
      container_name: ai_data_generator
      depends_on:
        - db
      ports:
        - "8501:8501"
      env_file:
        - .env
      volumes:
        - .:/app
      restart: always

volumes:
  postgres_data:
